<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TrandingCompany" connectionString="Data Source=DESKTOP-EA43ILH\MSSQLSERVER02;Initial Catalog=TrandingCompany;Integrated Security=True"/>
  </connectionStrings>
</configuration>